@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  scrollbar-width: thin;
}
body{
  background-color: #f4f7fd;
}
.mainApp{
  min-width: 375px;
  width: 100%;
  overflow: hidden;
}
Header{
  background-color: white;
  padding: 16px 20px;

}
Header,
.left,
.right,
.currentBoard{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left,
.right{
  gap: 16px;
}

.currentBoard img{
  margin-left: 6px;
}
.addTask{
  width: 48px;
  height: 32px;
  border-radius: 16px;
  border: none;
  background-color: #635fc7;

}
.addTaskWidth{
  display: flex;
  width: 164px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: white;
}
.addTaskWidth .addBtn{
  width: 8px;
}
main{
  padding: 20px;
  overflow-x: auto;
  scrollbar-width: none;
  height: calc(100vh - 64px);
}
li{
  list-style: none;
}
.statusList{
  display: flex;
  gap: 20px;
  width: max-content;
  overflow-x: auto;
  overflow: visible;
}
.status{
  width: 280px;
  
}
.status h2{
  position: relative;
  padding-left: 32px;
  display: flex;
  align-items: center;
  font-size: 16px;
  word-spacing: 8px;
  margin-bottom: 20px;
}
.status h2:before{
  content: '●';
  color: #635fc7;
  position: absolute;
  left: 0;
  top: -14px;
  font-size: 32px;
  font-weight: 400;
}
.tasks{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.task{
  background-color: white;
  padding: 20px 16px;
  border-radius: 12px;
  box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.2);
}
.title{
  font-size: 16px;
  font-weight: 900;
}
.subtasksNum{
  font-size: 12px;
  color: grey;
}
.taskBackground,
.addNewTaskBg{
  position: absolute;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(62, 63, 78, 0.5);
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  z-index: 10;
}
.taskDetails{
  background-color: white;
  opacity: 1;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.taskTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.taskTitle .title{
  width: 90%;
}
.taskTitle img{
  height: 100%;
}
.taskDescription{
  font-size: 14px;
}
.subtasks{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}
.subtask{
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
  border-radius: 6px;
  background-color: #f4f7fd;
}
.currStatus{
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.complete{
  text-decoration: line-through;
  color: #828fa3;
}
.taskCurrStatus{
  position: relative;
}
.statusTask{
  border: 1px solid #e4ebfa;
  background-color: white;
  padding: 0px 8px;
  border-radius: 6px;
  height: 40px;
  overflow: hidden;
  transition: .4s;
  font-weight: 500;
  font-size: 15px;
}
.statusSelect{
  height: 80px;
  padding: 4px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
.statusClick{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addNewTask{
  background-color: white;
  width: 343px;
  padding: 24px;
  border-radius: 12px;
  height: 520px;
  overflow: auto;
}

.addNewTask::-webkit-scrollbar {
  display: none;
}

.addForm{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.inputContainer{
  display: flex;
  flex-direction: column;
}
.addForm input{
  height: 40px;
  padding: 0 12px;
  border: 1px solid #e4ebfa;
  border-radius: 8px;
}
.addForm textarea{
  height: 112px;
  resize: none;
  padding: 12px;
  border: 1px solid #e4ebfa;
  border-radius: 8px;
}
.addSubtaskBtn{
  border: none;
  height: 40px;
  background-color: #e4ebfa;
  color: #635fc7;
  border-radius: 24px;
  font-weight: 900;  
  transition: .4s;
}
.otherStatus,
.statusTask .statusClick{
  height: 37px;
  display: flex;
  align-items: center;
}
.otherStatus{
  margin-top: 4px;
}
input,
textarea{
  outline: none;
}
.subtaskInput{
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subtaskInput input{
  width: 90%;
}
.pointer{
  cursor: pointer;
}
.error{
  border-color: #ea5555 !important;
}
.taskSetting{
  position: relative;
}
.settingSelect{
  box-shadow: 0px 8px 40px 0px rgba(0,0,0,0.2);
  position: absolute;
  left: -60px;
  width: 80px;
  font-size: 12px;
  padding: 8px;
  border-radius: 8px;
  font-weight: 600;
  background-color: white;
  cursor: pointer;
  z-index: 2;
}
.settingSelect p:first-child{
  margin-bottom: 6px;
}
.confirmation h4{
  color: #ea5555;
  font-size: 20px;
}
.buttonChoice{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.confirm,
.cancel{
  border: none;
  padding: 12px;
  border-radius: 32px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
.confirm{
  background-color: #ea5555;
  color: white;
}
.cancel{
  background-color: #e4ebfa;
  color: #635fc7;
}
.settingSelect p{
  font-size: 14px;
  font-weight: 700;
}
.red{
  color: #ea5555;
}
.bold{
  font-weight: 700;
}
.zindex{
  position: sticky;
  z-index: 999;
}
.boardDetails{
  width: 264px;
  padding: 20px 0;
}
.boardsList{
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.boardList{
  display: flex;
  align-items: center;
  padding-left: 0;
  width: 90%;
  height: 48px;
  gap: 8px;
  padding-left: 20px;
  font-weight: 700;
  border-top-right-radius:60px;
  border-bottom-right-radius: 60px;
}

.boardActive,
.dashboardSelect{
  background-color: #635fc7 !important;
  color: white;
}
.dashboardSelect{
  width: 100%;
  border-radius: 0;
}
.boardActive img{
  filter: brightness(0) invert(1);
}
.createBoard{
  color: #635fc7;
}
.darkModeBtn,
.darkModeContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.darkModeBtn{
  width: 235px;
  height: 48px;
  background-color: #f4f7fd;
  border-radius: 8px;
}
.checkbox{
  width: 0;
}
.switch{
  width: 40px;
  position: relative;
  margin: 0 20px;
}
.toggle{
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: #635fc7;
  border-radius: 12px;
  transition: .4s;
}
.toggle:after{
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 7px;
  top: 3px;
  left: 3px;
  background-color: white;
  transition: .4s;
}
.checkbox:checked + .toggle:after{
  left: 9px;
  transform: translateX(14px);
}
.boardDetails h4{
  padding-left: 20px;
}
a{
  text-decoration: none;
  color: black;
}
.subtmitBtn{
  background-color: #635fc7;
  color: white;
}
.darkBg{
  background-color: #20212c;
}
.dark,
.dark .settingSelect{
  color: white;
  background-color: #2b2c37;
  
}
.dark input,
.dark textarea,
.dark .statusSelect,
.dark .statusTask,
.darkStatus,
.dark .boardList
{
  background-color: transparent;
  border-color: #3e3f4e;
  color: white;
}
.darkCheckBox,
.dark .darkModeBtn{
  background-color: #20212c;
}
.sidebarAndMain{
  display: flex;
}
.sidebar{
  position: relative;
  width: 40%;
}
.sidebar .darkModeBtn{
  width: 180px;
}
.sidebar .sidebarLogo{
  width: 140px;
}
.sidebar .boardDetails{
  height: 100vh;
  border-radius: 0 ;
}

.logoContainer{
  padding-left: 20px;
  margin-bottom: 40px;
}
.boardDetailsContainer h4{
  margin-bottom: 16px;
}
.sidebar .boardDetails{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar .darkModeContainer{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.hideSidebar{
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 12px;
  font-size: 12px;
  color: #828fa3;
  font-weight: 700;
}
.left p{
  font-weight: 700;
}
.headerLogo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerImg{
  position: relative;
  width: 140px;
  margin-right: 28px;
}
.headerImg:after{
  position: absolute;
  content: '';
  border-right: 1px solid #3e3f4e;
  right: 0;
  height: 100%;
 
}
.openSidebar{
  position: absolute;
  width: 56px;
  height: 48px;
  background-color: #635fc7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  left: 0;
  bottom: 20px;
}
.addNewColumn{
  height: 100vh;
  width: 280px;
  background-color: #e4ebfa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin: 40px 0;
  font-weight: 700;
}
.addNewColumn:hover{
  color: #635fc7;
}
.noColumnContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);
  width: 100%;
}
.noColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.decline{
  cursor: no-drop;
}
.loginFormContainer{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginContainer{
  background-color: white;
  height: 328px;
  width: 280px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  border-radius: 4px;
}
.loginContainer input{
  background-color: #f4f7fd;
  border: 1px solid #f4f7fd;
  border-radius: 12px;
  padding: 8px;
  outline: none;
  transition: .4s;
  margin-top: 12px;
}

.loginContainer input:focus{
  border-color: #828fa3;
}

.loginContainer .addSubtaskBtn{
  margin-top: 24px;
}
.loginContainer .addSubtaskBtn:hover{
  background-color: #635fc7;
  color: #e4ebfa;

}
.loginContainer .changeType{
  text-align: center;
}
.loginContainer .changeType span{
  color: #635fc7;
  cursor: pointer;
}
.loginP{
  visibility: hidden;
}
.loginError{
  visibility: visible;
  color: #ea5555;
  font-size: 14px;
}
.dashboardContainer{
  height: 100%;
}

.dashboardLists{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px;
}
.dashboardList{
  border: 1px solid #635fc7;
  padding: 16px 12px;
  border-radius: 12px;
  width: 100%;
}
.dashboardCreate{
  border: 1px dashed #635fc7;
  padding: 16px 12px;
  border-radius: 12px;
  width: 100%;
}
.boardSelect{
  overflow: auto;
  max-height: 140px;
}
.userDropdown{
  font-size: 13px;
  border: 1px solid #635fc7;
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
}
.userDropdown:hover{
  background-color: #635fc7;
  color: white;
}
.userClick{
  position: absolute;
  background-color: white;
  width: 100%;
  left: 0;
  top: 32px;
  padding: 8px;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
}
@keyframes sidebarAnimate {
  from{
    left: -264px;
    opacity: 0;
  }
  to{
    left: 0;
    opacity: 1;
  }
}
@media (min-width:768px) {
  .taskDetails{
    width: 50%;
  }
  .boardDetails{
    width: 100%;
  }
  .buttonChoice{
    flex-direction: row;
  }
  .confirm,
  .cancel{
    width: 50%;
  }
}